
div.iotbuslogo {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
}

img.iotbuslogo {
  padding-left: 100px;
}

dt {
    float: left !important;
    width: 20% !important;
    text-align: right !important;
    padding: .25em !important;
    clear: left !important;
}
dd {
    float: left !important;
    width: 70% !important;
    padding: .25em 0 !important;
}
dl:after {content:"" !important;
  display:table !important;
  clear:both !important;
}

